


.contact-list {
    margin: 0;
}

.contact-list__item {
    margin-bottom: 9px;
}

.contact-list__item:last-child {
    margin-bottom: 0px;
}



.contact-list__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: $color_grey;
    cursor: pointer;

    transition: color 250ms $cubic_bezier;
}

.contact-list__link:hover,
.contact-list__link:focus {
    color: $brand_style;
    transition: color 250ms $cubic_bezier;
}

.footer,
.contact-list__maplink {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    color: $color_white;

    transition: color 250ms $cubic_bezier;
}

.contact-list__maplink:hover,
.contact-list__maplink:focus {
    color: $brand_style;
    transition: color 250ms $cubic_bezier;
}