/*---- Form in modal window ----*/

.modal_fieldset {
    border: transparent;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;
}

.modal_form_legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    color: $color_black;
    margin-bottom: 12px;
}

.modal_input {
    height: 40px;
    padding-left: 42px;
    cursor: pointer;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal_input:hover,
.modal_input:focus {
    border-color: $brand_style;
    outline: none;
}

.modal_input_comment {
    letter-spacing: 0.01em;

    height: 120px;
    padding: 12px 16px;
    resize: none;
    cursor: text;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.modal_input_comment:hover,
.modal_input_comment:focus {
    border-color: $brand_style;
    outline: none;
}

.form_submit_btn {
    margin: 0 auto;
}

.form_fieldset_div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    display: block;
    color: $color_grey;
    margin-bottom: 10px;
}

.label_heading {
    display: inline-block;
    margin-bottom: 4px;
}

.modal_comment_div {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment_placeholder {
    position: absolute;
    top: 12px;
    left: 16px;
}

.term_of_use_text,
.term_of_use_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $color_grey;
    margin: 0;
}

.term_of_use_link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $brand_style;
    text-decoration: underline;
}

.term_of_use_div {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.term_of_use_label {
    display: flex;
    align-items: center;
}

/*---- Custom Checker ----*/

.term_of_use_checkbox {
    appearance: none;
    position: absolute;
}

.term_of_use_checkbox:checked+.term_of_use_checkicon {
    background-color: $brand_style;
    border-color: transparent;
    background-image: url(../image/icon\ check.svg);
    background-size: contain;
    background-origin: border-box;
}

.term_of_use_checkicon {
    display: inline-block;
    width: 16px;
    height: 15px;

    cursor: pointer;
    border: 2px solid $color_black;
    border-radius: 2px;
    margin-right: 10px;
}

/*---- Modal Form Icons ----*/
.fieldset_div {
    position: relative;
}

.modal_form_icon {
    position: absolute;
    top: 11px;
    left: 12px;
    fill: currentColor;
    transition: fill 250ms $cubic_bezier;
}

.form_fieldset_div:focus-within>.modal_form_icon,
.form_fieldset_div:hover>.modal_form_icon {
    fill: $brand_style;
    transition: fill 250ms $cubic_bezier;
}