/* Section #2*/

.section_2 {
    padding-top: 94px;
    padding-bottom: 94px;
}

.our_benefits {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* ---Section icons---*/

.our_benefits_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: $background_grey;
    border-radius: 4px;
    margin-bottom: 30px;
}

.our_benefits_icon li {
    display: block;
    width: 270px;
    padding: 25px 100px 25px 100px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
}

.our_benefits_icon li:not(:last-child) {
    margin-right: 30px;
}

.s2_li_icon {
    width: 70px;
    height: 70px;
}

/* ------ */

.our_benefits h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color_black;
    text-align: start;
    margin-bottom: 10px;
}

.our_benefits p {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    margin: 0px;
}

.our_benefits li:not(:last-child) {
    margin-right: 30px;
}

.our_benefits li {
    width: 270px;
}